header,main,footer {
    width: 100%;
    height: 100px;
}
header {
    background-color: blanchedalmond;
}
main {
    background-color: darkkhaki;
}
footer {
    background-color: azure;
}
header > div {
    width: 30%;
    height: 50px;
    background-color: blue;
}