header, nav, section, footer, div {
    outline: 1px solid black;
}
/* 임시 줄긋기 */
.container {
    width: 100%;
    height: 800px;
}
header {
    width: 100%;
    height: 150px;
}
    header .logo {
        float: left;
        width: 33%;
        height: 100%;
    }
        header .logo > div:first-child {
            float: left;
            width: 75px;
            height: 75px;
            padding-left: 50px;
            padding-top: 40px;
        }
            header .logo img {
                width: 65px;
                height: 65px;
            }
        header .siteName {
            float: left;
            width: 150px;
            height: 50px;
            padding-left: 20px;
            padding-top: 60px;
        }
    header nav {
        float: left;
        width: 34%;
        height: 100%;
    }
        header nav > div {
            width: 250px;
            height: 50px;
            padding-left: 40px;
            padding-top: 60px;
        }
            header nav ul {
                display: flex;
                justify-content: space-between;
                text-align: center;
            }
            header nav li {
                float: left;
            }
    header .user-actions-container {
        float: left;
        width: 33%;
        height: 100%;
    }
    header .user-actions-container > div {
        padding-left: 100px;
        padding-top: 50px;
    }
main {
    width: 100%;
    height: 500px;
}
    main .mainTop {
        width: 67%;
        height: 80%;
    }
    main .mainDown {
        width: 67%;
        height: 20%;
    }
    /* main .mainSide {
        width: 30%;
        height: 95%;
    } */
footer {

    width: 100%;
    height: 150px;
}