/* header, nav, section, footer, div {
    outline: 1px solid black;
} */
/* 임시 줄긋기 */
.container {
    width: 100%;
    min-width: 1000px;
    height: 1500px;
}
header {
    width: 100%;
    height: 150px;
    background-image: url('https://via.placeholder.com/1200x150');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    header .logo {
        float: left;
        width: 33%;
        height: 100%;
    }
        header .logo > div:first-child {
            float: left;
            width: 50%;
            height: 100%;
            background-image: url('/images/logo.png');
            background-size: 70px 70px;
            background-position: center; /* 이미지 중앙 정렬 */
            background-repeat: no-repeat;
        }
        header .siteName {
            float: left;
            width: 50%;
            height: 100%;
        }
            header .siteName > div {
                padding-left: 50px;
                padding-top: 70px;
            }
    header nav {
        float: left;
        width: 34%;
        height: 100%;
    }
        header nav > div {
            width: 100%;
            padding-left: 40px;
            padding-top: 70px;
        }
            header nav ul {
                display: flex;
                justify-content: space-between;
                text-align: center;
            }
            header nav li {
                float: left;
            }
    header .user-actions-container {
        float: left;
        width: 33%;
    }
    header .user-actions-container > div {
        padding-left: 50px;
        padding-top: 50px;
    }
       /* ------------------------------------------------- main 공통 헤더 ------- */
main {
    width: 100%;
    height: 900px;
}
    main .labelTag {
        width: 67%;
        padding-top: 50px;
        text-align: center;
        /* display: flex; */
        /* flex-direction: column; */
        /* display: block; */
    }
    main .areaDiv {
        padding-top: 50px;
        padding-left: 100px;
        width: 67%;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 20px;
    }
        .areaDiv img {
            float: left;
            display: flex;
        }
        .areaDiv p {
            padding-left: 60px;
            /* padding-bottom: px; */
        }
    /* ------------------------------------------------- main 공통 푸터 ------- */
footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
    footer > div:first-child {
        width: 100%;
        height: 30%;
        background-color: rgba(0, 0, 0, .1);
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
    }
    footer > div:last-child {
        width: 100%;
        height: 70%;
    }
        footer .footerLeft {
            float: left;
            width: 33%;
            height: 100%;
        }
            .footerLeft > div:first-child {
                width: 100%;
                height: 60%;
                background-image: url(/images/logo.png);
                background-size: 50px 50px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .footerLeft > div:last-child {
                width: 100%;
                height: 40%;
                text-align: right;
            }
        footer .footerMiddle {
            float: left;
            width: 34%;
            height: 100%;
        }
        footer .footerRight {
            float: left;
            width: 33%;
            height: 100%;
        }
            .footerRight > label {
                padding-top: 60px;
                padding-left: 40%;
                /* text-align: center; */
            }