main {
    height: 990px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}
    main > form {
        width: 25%;
        height: auto;
    }
    main > form > div:first-child {
        text-align: center;
    }
        .form-btn {
            display: flex;
            justify-content:space-between;
        }
            .form-btn button {
                width: 30%;
                height: 100%;
            }