/* header, nav, section, footer, div {
    outline: 1px solid black;
} */
/* 임시 줄긋기 */
.container {
    width: 100%;
    max-width: 100%;
    min-width: 1380px;
    background-color: #fcfeff;
}
header {
    width: 100%;
    height: 350px;
    background-image: url('../../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    header .logo {
        float: left;
        width: 33%;
        height: 100%;
    }
        header .logo > div:first-child {
            float: left;
            width: 50%;
            height: 100%;
            background-image: url('../../images/logo.png');
            background-size: 70px 70px;
            background-position-x: 80%;
            background-position-y: 0.6cm;
            background-repeat: no-repeat;
        }
        header .siteName {
            float: left;
            width: 50%;
            height: 100%;
        }
            header .siteName > div {
                padding-left: 40px;
                padding-top: 40px;
            }
    header nav {
        float: left;
        width: 34%;
        height: 100%;
    }
        header nav > div {
            width: 100%;
            padding-left: 40px;
            padding-top: 70px;
        }
            header nav ul {
                display: flex;
                justify-content: space-between;
                text-align: center;
            }
            header nav li {
                float: left;
            }
    header .user-actions-container {
        float: left;
        width: 33%;
    }
    header .user-actions-container > div {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 40px;
    }
        .user-actions-container .login {
            padding-bottom: 6px;
        }
    /*------------------------------------------------- 공통 헤더 -------*/
main {
    width: 100%;
    height: 700px;
}
    main .mainUp {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(249, 223, 204);
    }
    main .mainMiddle {
        height: 450px;
        padding-left: 10%;
        padding-right: 10%;
    }
    main .mainDown {
        width: 100%;
        height: 100px;
    }
    /*------------------------------------------------- 공통 푸터 -------*/
    footer {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: #f9fffe;
    }
        footer > div:first-child {
            width: 100%;
            height: 30%;
            background-color: rgba(0, 0, 0, .1);
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
        }
        footer > div:last-child {
            width: 100%;
            height: 70%;
        }
            footer .footerLeft {
                float: left;
                width: 33%;
                height: 100%;
            }
                .footerLeft > div:first-child {
                    width: 100%;
                    height: 60%;
                    background-image: url(../../images/logo.png);
                    background-size: 50px 50px;
                    background-position-x: 35%;
                    background-position-y: 80%;
                    background-repeat: no-repeat;
                }
                .footerLeft > div:last-child {
                    width: 100%;
                    height: 40%;
                    text-align: center;
                }
            footer .footerMiddle {
                float: left;
                width: 34%;
                height: 100%;
            }
            footer .footerRight {
                float: left;
                width: 33%;
                height: 100%;
            }
                .footerRight > label {
                    padding-top: 5%;
                }